body {
	padding-top: 35px;
}
#main-canvas{
    padding-top: 25px;
    padding-bottom: 25px;
}
.compare {
    font-weight: bold;
    color: #000080;
}
.swap {
    font-weight: bold;
    color: #8B0000;
}
#outer{
    width:100%;
    text-align: center;
}
.form-group
    {
    display: inline-block;
}
   